.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .image-preview-container {
    position: relative;
    margin-top: 20px;
  }
  
  .image-preview {
    max-width: 100%;
    height: auto;
  }
  
  .prediction-box {
    position: absolute;
    border: 2px solid red;
    font-size: 14px;
    color: red;
    padding: 5px;
  }
  